.App {
  text-align: center;
}

.med-list-form {
  /* border: solid; */
  width: 80%;
  text-align: center;
  padding-left: 20%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.med-list-form-button {
  width: 25%;
}

.daily-tabs {
  width: 90%;
  padding-left: 10%
}

.med-list {
  width: 90%;
  padding-left: 10%;
  padding-top: 5%;
}

.medication-list-h1 {
  text-align: center;
}

.nav-tabs .nav-item {
  width: 14.285%;
  padding-top: 5%;
}

.med-table {
  width: 80%;
  padding-left: 20%;
}

/* .list-group-items {
  text-align: center;
  display: flex; 
  justify-content: space-between 
} */

.list-group-item-button {
  text-align: center;
  display: flex; 
  justify-content: space-between 
}

.button-position {
  position: absolute;
  right: -80px;
  bottom: 5px
}

.logs-h1 {
  text-align: center;
}

.logs-input {
  width: 80%;
  padding-left: 20%;
  height: 500px;
}

.log-list {
  width: 95%;
  padding-left: 5%;
}

.login-h1 {
  text-align: center;
}

.homepage-card {
  padding: 20%;
}

.login-button {
  width: 80%;
}